<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= pelicula.title %></title>
</head>
<body>
	<h1><%= pelicula.title %></h1>
	<p>Rating: <%= pelicula.rating %></p>
	<p>Awards: <%= pelicula.awards %></p>
	<p>Genre: <%= pelicula.genre_id %></p>
</body>
</html>